.menu-bar{
    -fx-background-color: white;
}
.tab *.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dashboardTab{
    -fx-background-color: #fad002;
 }

.todoListTab{
    -fx-background-color: #00ba63;
}
.calendarTab{
    -fx-background-color: #ed0e00;
}
.gradesTab{
    -fx-background-color: #0391c1;
}
